*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.oo{
    color: #fc8019;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat';
    background-color: #101010;
    color: white;
    position: relative;
    transition: all 0.4s;
}

.nav_link:hover,
.nav_link:focus{
    color: #fff;
}

.nav_link::after{
    content: '';
    height: 4px;
    width: 70%;
    background: #fc8019;
    position: absolute;
    border-radius: 4px;
    left: 8;
    bottom: 23px;
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
}

.nav_link:hover::after,
.nav_link:focus::after{
    opacity: 1;
}

.navigation li a span{
    color: #fc8019;
}

.navigation li:last-child{
    padding-right: 0;
}

body {
    background-color: #F8F8FF;
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
}

.home_text{
    align-content: center;
    width: 100%;
    height: 100%;
}

.text{
    font-family: "Pacifico", serif;
    font-weight: 1;
    font-size: 23px;
}

.text span{
    font-size: 25px;
    color: #fc8019;
}
  
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 10%;
    top: 54%;
    transform: translate(0%, -50%); 
    user-select: none;
}
  
#image-track .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#image-track .home_text{
    margin-right: 110px;
    margin-top: 40px;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 38px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
