* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url(healthy\ ahh\ photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  
  .container {
    width: 500px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sign-in-form h2 {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
    color: #333;
    text-align: left;
    font-size: large;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #101010;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4e4e4e;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 1rem;
  }
  
  .forgot-password a {
    text-decoration: none;
    color: #101010;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }

  .hidden {
    display: none;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.4s ease;
}

.input-group {
  opacity: 1;
  max-height: 100px; 
  transition: all 0.4s ease;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: none;
}

#info {
  font-family: "Montserrat", sans-serif;;
  padding-top: 10px;
  -moz-border-radius: 0px;
-webkit-border-radius: 8px 8px 0px 0px;
border-radius: 8px 8px 0px 0px; 
  height: 40px;
  max-width: 600px;
  margin-bottom: 10px;
  background-color: #fc8019;
}

#padding {
  padding: 2rem;
  width: 100%;
}



.logo_container{
  float: left;
}

.logo_container h1{
  color: black;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
  margin-right: 400px;
  margin-bottom: 20px;
}

.logo_container h1 span{
  font-weight: 800;
}
  
.oo {
  font-size: 32px;
  font-weight: 200;
  color: #fc8019;
}
  
.button-28 {
  appearance: none;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  color: #f8f8f8;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 38px;
  min-width: 40px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

#back-button {
  position: absolute;
  top: 20px; 
  left: 20px;
}
.linkk{
  text-decoration: none;
  color: black;
}