*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.oo{
    color: #fc8019;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat';
    background-color: #101010;
    color: white;
    position: relative;
    transition: all 0.4s;
}

.nav_link:hover,
.nav_link:focus{
    color: #fff;
}

.nav_link::after{
    content: '';
    height: 4px;
    width: 70%;
    background: #fc8019;
    border-radius: 4px;
    position: absolute;
    left: 8;
    bottom: 23px;
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
}

.nav_link:hover::after,
.nav_link:focus::after{
    opacity: 1;
}

.navigation li a span{
    color: #fc8019;
}

.navigation li:last-child{
    padding-right: 0;
}

body {
    background-color: #F8F8FF;
    height: 100vh;
    width: 100%;
    margin: 0rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.food-items {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 200px;
}

.food-card {
    background-color: #fff;
    border-radius: 40px 0px 0px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-card:hover {
    scale: 1.02;
    transition: all 0.6s;
    box-shadow: 0 0 20px 10px rgba(67, 67, 64, 0.4);
}

.food-card img {
    height: 150px;
    border-radius: 8px;
    object-fit: fill;
    margin-top: 20px;
    margin-bottom: 20px;
}

.food-card h3 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-weight: 500;
}

.food-card p {
    color: #777;
    margin: 5px 0;
}

.food-card .price {
    font-family: 'Poppins';
    font-weight: 300;
    color: #2d2828;
}

.food-card .time {
    color: green;
    font-weight: bold;
}

form{
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fc8019;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: black;
    color: white;
}

.outer_footer{
    width: 100%;
    margin-top: 120px;
    background-color: black;
}

.footer {
    margin-top: auto;
    background-color: #151515;
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
  }
  
  .footer .row {
    width: 100%;
    margin: 1rem 0;
    padding: 0.6% 0;
    color: gray;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  
  .footer .row a:hover {
    color: #fff;
  }
  
  .footer .row ul {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  
  .footer .row ul li {
    display: inline-block;
    margin: 0 30px;
  }
  
  .footer .row a i {
    font-size: 2em;
    margin: 0 10px;
    color: gray;
    transition: color 0.3s;
  }
  
  .footer .row a i:hover {
    color: #fff;
  
  @media (max-width: 720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
    .footer .row ul li {
      display: block;
      margin: 10px 0;
      text-align: left;
    }
    .footer .row a i {
      margin: 0 3%;
    }
  }